 @font-face {
            font-family: "mansalva";
            src: url("../assets/webfonts/Mansalva-Regular.ttf");
        }

        @font-face {
            font-family: "mclaren";
            src: url("../assets/webfonts/McLaren-Regular.ttf");
        }

        body{
            background-color: #F8EFCA;
        }

        .nav{
            background-color: #5D2655;
            height: 60px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            top: 0;
            left: 0;
            position: fixed;
            width: 100%;
            box-shadow: 0px 0px 9px 0px #5D2655;
            z-index: 100;
        }

        .enlaces{
            text-decoration: none;
            padding: 7px;
            border-radius: 5px;
            transition-duration: 0.7s;
            color: #F2A082;
            font-size: 20px;
            font-weight: bold;
            font-family: "mansalva";
        }

        .enlaces:hover{
            background-color: #380c32;
            scale: 1.1;
        }

        .seccion{
            margin: 50px 100px 40px 100px;
            background-color: #f2a082;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 5px 5px 4px 0px #e27c57;
            margin-top: 80px; 
            width: 20%;
            align-self: center;
            font-family: "mclaren";
        }

        .formulario{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .preguntas{
            width: 100%;
        }

        .preguntas label{
            width: 100%;
            align-self: flex-end;
        }

        .input-style {
            padding: 10px;
            border: 2px solid #f2a082;
            border-radius: 5px;
            font-size: 16px;
            color: #555;
            outline: none;
            width: 100%;
            box-sizing: border-box;
            font-family: "mclaren";
        }

        .input-style:focus {
            border-color: #f16836;
            box-shadow: 0 0 0 0.2rem #f1683634;
        }

        /* From Uiverse.io by Voxybuns */ 
        button {
        /* Variables */
            --button_radius: 0.75em;
            --button_color: #e8e8e8;
            --button_outline_color: #000000;
            font-size: 12px;
            font-weight: bold;
            border: none;
            cursor: pointer;
            border-radius: var(--button_radius);
            background: var(--button_outline_color);
        }

        .button_top {
            display: block;
            box-sizing: border-box;
            border: 1px solid var(--button_outline_color);
            border-radius: var(--button_radius);
            padding: 0.75em 1.5em;
            background: var(--button_color);
            color: var(--button_outline_color);
            transform: translateY(-0.2em);
            transition: transform 0.1s ease;
            font-family: "mclaren";
        }

        button:hover .button_top {
            /* Pull the button upwards when hovered */
            transform: translateY(-0.33em);
        }

        button:active .button_top {
            /* Push the button downwards when pressed */
            transform: translateY(0);
        }

        #lista{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: 10px 100px 100px 100px;
            padding: 20px;
            width: 80%;
            gap: 12px;
            box-sizing: border-box;
            background-color: #F8DEAD;
            border: 7px solid #F2A082;
            border-radius: 10px;
        }

        .mensaje{
            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color: #f2a082;
            box-shadow: 3px 3px 2px 0px #e27c57;
            /* background-image: url("../images/postit.png");
            background-size: cover; para cubrir todo el div
            background-position: center; */
            border-radius: 10px;
            width: 300px;
            align-items: center;
            justify-content: flex-start;
            height: 250px;
            overflow-y: auto;
            overflow-x: hidden;
            transition-duration: 0.5s;
        }

        /* Scrollbar gris */
        .mensaje::-webkit-scrollbar {
            width: 7px;              /* Ancho de la barra vertical */
            background-color: transparent; /* Fondo del "track" (sin blanco) */
        }

        /* El "track" (canal por donde se mueve la barra) */
        .mensaje::-webkit-scrollbar-track {
            background-color: transparent;  /* Quita fondo blanco */
        }

        /* El "thumb" (la barra que se mueve) */
        .mensaje::-webkit-scrollbar-thumb {
            background-color: #a1a1a1;   /* Gris */
            border-radius: 10px;
            transition-duration: 0.5s;
        }

        /* Opcional: hover para que se vea más oscura */
        .mensaje::-webkit-scrollbar-thumb:hover {
            background-color: #7e7e7e;
        }

        .mensaje h2{
            font-family: "mansalva";
            font-size: 27px;
            font-weight: bold;
        }

        .mensaje p{
            width: 300px;
            text-align: center;
            height: auto;
            overflow-wrap: break-word;
            font-family: "mclaren";
            font-size: 16px;
        }
        
        .raya{
            height: 0px;
            width: 80%;
            align-items: center;
            border: 1px solid #5D2655;
            border-radius: 20px;
        }